In [1]:
# importing the pandas library to load csv file to table
import pandas as pd

df = pd.read_csv('sample.csv')
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0

In [2]:
#will be employing the use of a stemming algorithm from the nltk package

from nltk.stem.porter import PorterStemmer

In [7]:
stem = PorterStemmer()

# defining a function to implement the algorithm
def word_stem(text):
    """Applies Porter Stemming to each word in the input text."""
    stem = PorterStemmer()
    return " ".join([stem.stem(word) for word in text.split()])

df['stemmed_words'] = df['text'].apply(word_stem)
df.head()

,tweet_id,author_id,inbound,created_at,text,response_tweet_id,in_response_to_tweet_id,stemmed_words
0,119237,105834,True,Wed Oct 11 06:55:44 +0000 2017,@AppleSupport causing the reply to be disregar...,119236,NaN,@applesupport caus the repli to be disregard a...
1,119238,ChaseSupport,False,Wed Oct 11 13:25:49 +0000 2017,@105835 Your business means a lot to us. Pleas...,NaN,119239.0,@105835 your busi mean a lot to us. pleas dm y...
2,119239,105835,True,Wed Oct 11 13:00:09 +0000 2017,@76328 I really hope you all change but I'm su...,119238,NaN,@76328 i realli hope you all chang but i'm sur...
3,119240,VirginTrains,False,Tue Oct 10 15:16:08 +0000 2017,@105836 LiveChat is online at the moment - htt...,119241,119242.0,@105836 livechat is onlin at the moment - http...
4,119241,105836,True,Tue Oct 10 15:17:21 +0000 2017,@VirginTrains see attached error message. I've...,119243,119240.0,@virgintrain see attach error message. i'v tri...

In [ ]:
"""
Word stemming tends to remove some important letters in some words 
as observed in the added stemmed_words column making less sense

"""